:root {
  --poke-card-color-1: #fff;
  --poke-card-color-2: #fff;
  --poke-card-color-3: #fff;
  --reduce-size: 0.5;
  --poke-card-font-container-height: calc(30px * var(--reduce-size));
}

.poke-card__container {
  border: calc(4px * var(--reduce-size)) solid var(--color-1);
  display: grid;
  grid-template-areas:
    "poke-card__header"
    "poke-card__image"
    "poke-card__body"
    "poke-card__footer";
  grid-template-rows: min-content 5fr 1fr min-content;
  width: calc(300px * var(--reduce-size));
  height: calc(400px * var(--reduce-size));
  padding: calc(15px * var(--reduce-size)) calc(15px * var(--reduce-size));
  position: relative;
  gap: calc(15px * var(--reduce-size));
  border-radius: calc(10px * var(--reduce-size));
  cursor: pointer;
}

.poke-card__header {
  position: relative;
  grid-area: poke-card__header;
  background-color: #00000088;
  padding: calc(8px * var(--reduce-size));
  border-radius: calc(10px * var(--reduce-size));
  border: calc(2px * var(--reduce-size)) solid var(--color-1);
  z-index: 20;
}

.poke-card__header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-black);
  width: 100%;
  height: calc(1px * var(--reduce-size));
}
.poke-card__title {
  font-family: "Pokemon";
  margin: 0;
  letter-spacing: calc(5px * var(--reduce-size));
  font-size: calc(22px * var(--reduce-size));
  height: min-content;
  line-height: calc(var(--poke-card-font-container-height) * 0.66);
  color: var(--color-1);
  text-shadow: calc(3px * var(--reduce-size)) calc(0px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2),
    calc(3px * var(--reduce-size)) calc(3px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2),
    calc(0px * var(--reduce-size)) calc(3px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2),
    calc(0px * var(--reduce-size)) calc(0px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2),
    calc(-3px * var(--reduce-size)) calc(0px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2),
    calc(-3px * var(--reduce-size)) calc(-3px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2),
    calc(0px * var(--reduce-size)) calc(-3px * var(--reduce-size))
      calc(0px * var(--reduce-size)) var(--color-2);
}
.poke-card__stats {
}
.poke-card__types {
  display: flex;
  gap: calc(10px * var(--reduce-size));
  flex-wrap: wrap;
}
.poke-card__image {
  z-index: 20;
  width: 100%;
  max-height: calc(200px * var(--reduce-size));
  grid-area: poke-card__image;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black__modal);
  border-radius: calc(10px * var(--reduce-size));
  overflow: hidden;
  border: calc(3px * var(--reduce-size)) solid var(--color-1__modal);
  position: relative;
}
.poke-card__image > img {
  pointer-events: none;
  height: 100%;
}
.poke-card__body {
  z-index: 20;
  grid-area: poke-card__body;
}
.poke-card__footer {
  z-index: 20;
  grid-area: poke-card__footer;
}

.poke-card__footer > p {
  margin: 0;
  font-weight: bold;
  color: var(--color-1);
  -webkit-text-stroke: calc(1px * var(--reduce-size)) gray;
  font-size: calc(18px * var(--reduce-size));
}

.poke-card__back-ground {
  border-radius: calc(10px * var(--reduce-size));
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 1)
  );
  overflow: hidden;
  z-index: 15;
}

.poke-card__back-ground-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000022;
  /* backdrop-filter: blur(calc(20px * var(--reduce-size))); */
  transition: all 1s linear;
}

.poke-card__back-ground::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: var(--poke-card-color-1);
  width: calc(0px * var(--reduce-size));
  height: calc(0px * var(--reduce-size));
  border-radius: 100%;

  box-shadow:
calc(0px * var(--reduce-size))
calc(0px * var(--reduce-size))
calc(100px * var(--reduce-size))
calc(123px * var(--reduce-size))
      var(--poke-card-color-1),
   
calc(100px * var(--reduce-size))
calc(0px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(125px * var(--reduce-size))
      var(--poke-card-color-2),
   
calc(-100px * var(--reduce-size))
calc(0px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(118px * var(--reduce-size))
      var(--poke-card-color-3),
   
calc(100px * var(--reduce-size))
calc(100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(112px * var(--reduce-size))
      var(--poke-card-color-2),
   
calc(100px * var(--reduce-size))
calc(100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(117px * var(--reduce-size))
      var(--poke-card-color-1),
   
calc(-100px * var(--reduce-size))
calc(-100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(113px * var(--reduce-size))
      var(--poke-card-color-2),
   
calc(0px * var(--reduce-size))
calc(100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(115px * var(--reduce-size))
      var(--poke-card-color-3),
   
calc(0px * var(--reduce-size))
calc(-100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(120px * var(--reduce-size))
      var(--poke-card-color-2),
   
calc(0px * var(--reduce-size))
calc(100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(117px * var(--reduce-size))
      var(--poke-card-color-1),
   
calc(0px * var(--reduce-size))
calc(-100px * var(--reduce-size))
     
calc(100px * var(--reduce-size))
calc(115px * var(--reduce-size))
      var(--poke-card-color-3),

calc(-100px * var(--reduce-size))
calc(-15px * var(--reduce-size))
      red;
}

.poke-card__types {
  display: flex;
  flex-wrap: wrap;
}

.poke-card__image-loader {
  position: absolute;
  inset: 0;
  margin: auto;
  transition: all 0.2s linear;
  transform: scale(0);
}
.poke-card__image-loader--show {
  transform: scale(1.7);
}

.poke-card__root {
  transition: all 0.2s linear;
  height: min-content;
}
.poke-card__root:hover {
  z-index: 100;
  transform: scale(1.1);
}
.poke-card__root:hover .poke-card__back-ground-blur {
  transform: scale(1);
}
