:root {
  --color-1: yellow;
  --color-1__modal: #f8de81;
  --color-2: ;
  --color-2__modal: ;
  --color-3: ;
  --color-3__modal: ;
  --color-white: ;
  --color-white__modal: ;
  --color-black: ;
  --color-black__modal: ;
}
