:root {
  --page-play-game-colums: 2;
  --page-play-game-player-info-position: fixed;
  --page-play-game-player-info-translate: -100%;
  --page-play-game-player-colums: 1fr;
  --page-play-game__player-info__button-show: block;
}

@media (min-width: 778px) {
  :root {
    --page-play-game-colums: 4;
    --page-play-game-player-info-position: fixed;
    --page-play-game-player-info-translate: -100%;
    --page-play-game-player-colums: 1fr;
    --page-play-game__player-info__button-show: block;
  }
}
@media (min-width: 1124px) {
  :root {
    --page-play-game-colums: 6;
    --page-play-game-player-info-position: sticky;
    --page-play-game-player-info-translate: 0%;
    --page-play-game-player-colums: min-content 1fr;
    --page-play-game__player-info__button-show: none;
  }
}
@media (min-width: 1400px) {
  :root {
    --page-play-game-colums: 8;
    --page-play-game-player-info-position: sticky;
    --page-play-game-player-info-translate: 0%;
    --page-play-game-player-colums: min-content 1fr;
    --page-play-game__player-info__button-show: none;
  }
}

.page-play-game__container {
  display: grid;
  grid-template-columns: var(--page-play-game-player-colums);
  background-color: var(--color-black);
  justify-content: space-evenly;
  width: 100%;
}

.page-play-game__info {
  position: var(--page-play-game-player-info-position);
  top: 0;
  width: 100%;
  max-width: 500px;
  background-color: var(--color-1__modal);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 15px;
  z-index: 20;
  transform: translateX(var(--page-play-game-player-info-translate));
  transition: all 0.2s linear;
}
.page-play-game__cards {
  z-index: 15;
  display: grid;
  grid-template-columns: repeat(var(--page-play-game-colums), 1fr);
  align-items: center;
  justify-items: center;
}

.page-play-game__turn,
.page-play-game__players-info {
  background-color: var(--color-2__modal);
  border-radius: 8px;
  padding: 20px;
  border: 2px solid var(--color-1);
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.page-play-game__turn {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-play-game__turn p {
  margin: 0;
  font-family: Pokemon;
  color: var(--color-1);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 28px;
  -webkit-text-stroke: 1px var(--color-2);
  line-height: 40px;
}
.page-play-game__players-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}
.page-play-game__title {
  margin: 0;
  font-family: Pokemon;
  color: var(--color-1);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 28px;
  -webkit-text-stroke: 1px var(--color-2);
  line-height: 40px;
}

.page-play-game__players {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-play-game__player-info h3 {
  font-size: 25px;
  margin: 0;
  color: var(--color-1);
}
.page-play-game__player-info p {
  font-family: sans-serif;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  color: var(--color-1);
}

.page-play-game__player-info p span {
  font-family: Pokemon;
  color: var(--color-1);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 28px;
  -webkit-text-stroke: 1px var(--color-2);
  line-height: 40px;
}

.page-play-game__player-info__button {
  position: absolute;
  transform: translateX(50%) scale(0.5);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  inset: 0;
  margin: auto;
  transition: all 0.2s linear;
  display: var(--page-play-game__player-info__button-show);
}

.page-play-game__info--active {
  transform: translateX(0%);
}
.page-play-game__info--active .page-play-game__player-info__button {
  transform: translateX(50%) scale(0.3);
}
