.poke-card-dorso__container {
  border: calc(3px * var(--reduce-size)) solid var(--color-1);
  display: grid;
  width: calc(300px * var(--reduce-size));
  height: calc(400px * var(--reduce-size));
  padding: calc(15px * var(--reduce-size)) calc(15px * var(--reduce-size));
  position: relative;
  border-radius: calc(10px * var(--reduce-size));
  background-color: black;
  cursor: pointer;
  background-image: url("../../../../assets/imgs/dorso-2.jpg");
  background-position: calc(-100px * var(--reduce-size)) calc(-10px *
        var(--reduce-size));
  background-size: cover;
}

/* .poke-card-dorso__container {
  border: none;
  background-image: url("../../../../assets/imgs/dorso-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
 */
