:root {
  --type-tag-color: #000;
  --type-tag-color__modal: #000;
}

.type-tag__container {
  position: relative;

  padding: calc(5px * var(--reduce-size)) calc(5px * var(--reduce-size));
  background-color: var(--type-tag-color__modal);
  font-weight: bold;
  color: var(--color-white);
  -webkit-text-stroke: calc(1px * var(--reduce-size)) black;
  border-radius: calc(50px * var(--reduce-size));
}

.type-tag__text {
  margin: 0;
  border-radius: calc(50px * var(--reduce-size));
  background-color: var(--type-tag-color);
  padding: calc(2px * var(--reduce-size)) calc(10px * var(--reduce-size));
  font-size: calc(20px * var(--reduce-size));
}
