.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  background-color: black;
  transition: all 0.5s linear;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background-color: black;
}

html {
}
